@page "/dashboard/course/{courseUuid}"
@using TdA26_CyganStudios.Models.Db
@using TdA26_CyganStudios.Utils
@model TdA26_CyganStudios.Pages.Dashboard.Course.IndexModel
@{
    ViewData["Title"] = "Course";
    const int MaxFeedPreview = 6;
}

<h1>@Model.Course.Name</h1>

<a asp-page="/Dashboard/Course/Edit" asp-route-courseUuid="@Model.CourseUuid" class="text-decoration-none">
    Edit
</a>

<partial name="_MaterialsPreviewGrid"
         model="new MaterialsPreviewGridModel(Model.CourseUuid, Model.Course.Materials, true)" />

<partial name="_QuizzesPreviewGrid" model="new QuizzesPreviewGridModel(Model.CourseUuid, Model.Course.Quizzes, true)" />

<partial name="_CourseFeedPreview" model="new CourseFeedPreviewModel(Model.CourseUuid, Model.FeedItems, true, MaxFeedPreview)" />

@section Scripts {
    <script src="~/js/course-feed-sse.js"></script>
    <script>
        startCourseFeed("@Model.CourseUuid", @MaxFeedPreview);
    </script>
}