@page "/dashboard/course/{courseUuid}/materials/{materialUuid}/edit"
@model TdA26_CyganStudios.Pages.Dashboard.Course.MaterialEditModel
@{
	ViewData["Title"] = "Edit Material";
}

<h1>Redirecting...</h1>