@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<div class="full-width gap flex vert-center horiz-center">
    <img class="sm-image" src="/images/logo_2_light.svg" alt="Think different Academy Logo">
    <div class="flex column vert-center half-width">
        <h1 class="text-center">WE ARE THINK DIFFERENT ACADEMY</h1>
        <p class="text-center med-text lighter-text sm-width">Our goal is to help students study and have fun doing it with our fun interactive courses! Access ready-made professional materials, browse a wide variety of courses and enjoy our learning experience.</p>
    </div>
</div>
