@page "/courses/{courseUuid}"
@model TdA26_CyganStudios.Pages.Courses.DetailsModel
@{
	ViewData["Title"] = Model.Course.Name;
}

<h1>@Model.Course.Name</h1>
<h3>Lecturer: @Model.Course.Lecturer.UserName</h3>

<p>@Model.Course.Description</p>

<partial name="_MaterialsPreviewGrid"
    model="new MaterialsPreviewGridModel(Model.CourseUuid, Model.Course.Materials, false, 4)" />