@page "/dashboard/course/{uuid}"
@model TdA26_CyganStudios.Pages.Dashboard.CourseModel
@{
	ViewData["Title"] = "Course";
}

<h1>@Model.Course.Name</h1>

<a asp-page="/Dashboard/CourseEdit"
	asp-route-uuid="@Model.CourseUuid"
	class="text-decoration-none">
	Edit
</a>