html {
    font-size: 16px;
}

[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #151515;
    --color-fg-hover: #000000;
    --color-bar-bg: #e1e1e1;
    --color-bar-fg: #555555;
    --color-bar-border: #cccccc;
}

[data-theme="light"] .logo-main {
    content: url("/images/logo_1_light.svg");
}

[data-theme="dark"] {
    --color-bg: #121212;
    --color-fg: #eaeaea;
    --color-fg-hover: #ffffff;
    --color-bar-bg: #1e1e1e;
    --color-bar-fg: #aaaaaa;
    --color-bar-border: #333333;
}

[data-theme="dark"] .logo-main {
    content: url("/images/logo_1_dark.svg");
}

* {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.logo-main {
    height: 40px;
    transition: filter 0.3s ease-in-out;
}

a.nav-link {
    color: var(--color-fg) !important;
}

a.nav-link:hover {
    color: var(--color-fg-hover) !important;
}

button.nav-link {
    color: var(--color-fg) !important;
}

button.nav-link:hover {
    color: var(--color-fg-hover) !important;
}

footer {
    background-color: var(--color-bar-bg);
    color: var(--color-bar-fg);
}

footer > * {
    color: var(--color-bar-fg);
}

.navbar {
    background-color: var(--color-bar-bg) !important;
}

.border-bottom {
    border-color: var(--color-bar-border) !important;
}

@media (prefers-color-scheme: dark) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
}

/* Explicit Light Mode */
[data-theme="light"] .navbar {
    background-color: #ffffff !important;
}

/* Explicit Dark Mode */

[data-theme="dark"] .navbar {
    background-color: #1e1e1e !important;
}
